* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.weather-reports {
  opacity: 1;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
}

header {
  width: 100vw;
  min-width: 201px;
  background-color: rgba(39, 39, 39, 0.15);
  padding-left: 5px;
  padding: 10px 4px;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 860px;
  margin: auto;
}

@media all and (max-width: 280px) {
  header {
    text-align: center;
  }
  header .search {
    width: 100% !important;
    padding: 0 !important;
  }
  header input {
    width: 99% !important;
    border-radius: 3px;
  }
  header button {
    position: relative !important;
    right: 0 !important;
    width: 50% !important;
    margin: auto !important;
    margin-top: 5px !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

@media all and (max-width: 438px) {
  header .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header input {
    margin-left: -8px;
  }
  header .header button {
    margin-left: 20px;
  }
  header .search {
    width: 90% !important;
  }
}

header h2 {
  font-size: 1.8em;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h2 span {
  color: #ccc;
}

header .search {
  position: relative;
  width: 60%;
  padding-right: 10px;
}

header .search input {
  width: 85%;
  height: 32px;
  padding-left: 8px;
  border: none;
  outline: none;
  background-color: rgba(39, 39, 39, 0.3);
  font-size: 1.1em;
  color: #ccc;
}

header .search input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

header .search input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

header .search input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

header .search input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

header .search button {
  position: absolute;
  right: 20px;
  top: 0px;
  border: none;
  height: 32px;
  width: 20%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.geo-body {
  text-align: center;
  padding-top: 20px;
  max-width: 860px;
  margin: auto;
}

.location-name {
  border-bottom: thin solid rgba(39, 39, 39, 0.2);
  padding-bottom: 5px;
}

.location-name p {
  font-size: 1.35em;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.temp-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.temp-label p {
  color: rgba(255, 255, 255, 0.8);
}

.temp-label button {
  height: 35px;
  width: 42px;
}

.desc {
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  text-align: center;
  padding: 0 4px 0px 4px;
}

@media all and (max-width: 284px) {
  .temperature p {
    font-size: 3.5em !important;
  }
}

.temperature p {
  font-size: 5em;
}

.temperature small {
  font-size: 0.8em;
}

.pos-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
  border-bottom: thin solid rgba(255, 255, 255, 0.8);
  padding-bottom: 5px;
  font-weight: bold;
}

.pos-label p {
  margin-right: 5px;
}

.pos-label button {
  width: 42px;
  height: 25px;
  display: none;
}

.positions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
  margin-bottom: 15px;
  border-bottom: thin solid rgba(39, 39, 39, 0.2);
  padding-bottom: 10px;
}

.positions div:nth-child(1) {
  margin-right: 13px;
}

.positions p {
  text-align: center;
  padding: 2px 5px;
}

.positions p:nth-child(2) {
  color: rgba(255, 255, 255, 0.8);
  font-weight: normal;
}

.weather-conditions h3 {
  display: inline-block;
  border-bottom: thin solid rgba(39, 39, 39, 0.2);
  padding: 0 8px 3px 9px;
  margin-bottom: 12px;
}

.weather-conditions span {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 5px;
  font-size: 1.2em;
}

.weather-conditions .val {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.1em;
  margin-top: 3px;
  letter-spacing: 1px;
}

.calculator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #272727;
  padding-top: 25px;
  padding-bottom: 30px;
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.calculator .temp-body {
  max-width: 860px;
  margin: auto;
  position: relative;
}

.calculator .close {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  bottom: 100%;
  outline: none;
}

.calculator .temp-component {
  margin-bottom: 12px;
}

.calculator .text-1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.3em;
  text-align: center;
  padding-right: 12px;
  padding-left: 12px;
}

.calculator .inputArea {
  width: 75%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding-left: 5px;
  font-size: 1.05em;
  border-radius: 3px;
  color: #ccc !important;
}

.calculator select {
  width: 70%;
  height: 30px;
}

.calculator div:nth-child(2) {
  margin-top: 10px;
}

.calculator div:nth-child(2) select {
  width: 72%;
}

.calculator div:nth-child(2) span {
  margin-left: 28px;
}

.calculator div:nth-child(3) {
  margin-top: 10px;
}

.calculator div:nth-child(3) select {
  width: 72%;
}

.calculator div:nth-child(3) span {
  margin-left: 53px;
}

.calculator div:nth-child(4) {
  margin-top: 10px;
}

.calculator div:nth-child(4) select {
  width: 72%;
}

.calculator div:nth-child(4) span {
  margin-left: 20px;
}

.calculator #convertercontainer {
  text-align: center;
}

.calculator #convertercontainer button {
  width: 75%;
  height: 40px;
  font-size: 1.2em;
}

@media all and (max-width: 480px) {
  .calculator .text-1 {
    padding-left: 5px;
  }
  .calculator .inputArea {
    width: 65% !important;
  }
  .calculator select {
    width: 60% !important;
  }
}

@media all and (max-width: 320px) {
  .calculator .text-1 {
    display: block;
    text-align: left;
    margin: 0 !important;
  }
  .calculator .temp-component {
    margin: 0 !important;
  }
  .calculator .inputArea {
    width: 97% !important;
  }
  .calculator select {
    width: 90% !important;
  }
}

.openconverter {
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

@media all and (max-height: 520px) {
  .openconverter {
    -webkit-transform: translateY(20%) !important;
            transform: translateY(20%) !important;
  }
}

@media all and (max-height: 420px) {
  .openconverter {
    overflow-y: scroll !important;
    -webkit-transform: translateY(0%) !important;
            transform: translateY(0%) !important;
  }
}

.mapview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
  overflow-y: scroll !important;
  opacity: 0;
  background-color: #272727;
  z-index: -1;
  padding-bottom: 30px;
}

.mapview .mapdesc {
  margin: 12px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.mapview .mapdesc p {
  margin-top: 12px;
  letter-spacing: 1px;
}

.mapview .map {
  min-width: 100px;
  max-width: 680px;
  width: 98%;
  margin: auto;
}

.mapview .map img {
  width: 100%;
  height: 100%;
  max-height: 520px;
}

.mapview .map-close {
  text-align: center;
  margin-top: 18px;
}

.mapview .map-close button {
  width: 25%;
  height: 32px;
  max-width: 420px;
}

.fadeout {
  -webkit-animation-name: fadeout;
          animation-name: fadeout;
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fadein {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s;
  -webkit-animation-delay: 0.34s;
          animation-delay: 0.34s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1 !important;
    z-index: 1 !important;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1 !important;
    z-index: 1 !important;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    z-index: 0;
  }
  to {
    opacity: 1;
    z-index: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    z-index: 0;
  }
  to {
    opacity: 1;
    z-index: 1;
  }
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dialog .dialog-body {
  background-color: #fff;
  width: 95%;
  min-height: 95px;
  padding: 10px 5px 5px 10px;
  border-radius: 5px;
  max-width: 450px;
}

.dialog .dialog-title {
  font-size: 2em;
}

.dialog .dialog-text {
  font-size: 1.05em;
  margin-top: 12px;
}

.dialog .d-ctrls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
  margin-bottom: 8px;
}

.dialog .d-ctrls button {
  display: inline-block;
  height: 30px;
  padding: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
}

.loading {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3)));
  background-image: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3));
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 20px;
}

@media all and (max-width: 201px) {
  main {
    width: 201px;
    overflow: scroll !important;
  }
}
/*# sourceMappingURL=main.css.map */