.weather-reports {
  opacity: 1;
  @include transition(0.35s);
}
header {
  width: 100vw;
  min-width: 201px;
  background-color: rgba($primary, 0.15);
  padding-left: 5px;
  padding: 10px 4px;
  & .header {
    @include flex(space-between, center);
    max-width: 860px;
    margin: auto;
  }
  @include width280 {
    text-align: center;
    & .search {
      width: 100% !important;
      padding: 0 !important;
    }
    & input {
      width: 99% !important;
      border-radius: 3px;
    }
    & button {
      position: relative !important;
      right: 0 !important;
      width: 50% !important;
      margin: auto !important;
      margin-top: 5px !important;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
  @include width438 {
    & .header {
      flex-direction: column;
      & input {
        margin-left: -8px;
      }
      & button {
        margin-left: 20px;
      }
    }
    .search {
      width: 90% !important;
    }
  }
  h2 {
    font-size: 1.8em;
    width: 35%;
    @include flex;
    span {
      color: #ccc;
    }
  }
  .search {
    position: relative;
    width: 60%;
    padding-right: 10px;

    input {
      width: 85%;
      height: 32px;
      padding-left: 8px;
      border: none;
      outline: none;
      background-color: rgba($primary, 0.3);
      font-size: 1.1em;
      color: #ccc;
    }
    input::placeholder {
      color: $accent;
    }
    button {
      position: absolute;
      right: 20px;
      top: 0px;
      border: none;
      height: 32px;
      width: 20%;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
.geo-body {
  text-align: center;
  padding-top: 20px;
  max-width: 860px;
  margin: auto;
}
.location-name {
  border-bottom: thin solid rgba($primary, 0.2);
  padding-bottom: 5px;
  p {
    font-size: 1.35em;
    text-align: center;
    color: $accent;
  }
}
.temp-label {
  @include flex(center, center);
  margin-top: 10px;
  p {
    color: $accent;
  }
  button {
    height: 35px;
    padding: 5px;
    margin-left: 3px;
  }
}
.desc {
  color: $accent;
  font-weight: bold;
  text-align: center;
  padding: 0 4px 0px 4px;
}
.temperature {
  @include width240 {
    p {
      font-size: 3.5em !important;
    }
  }
  p {
    font-size: 5em;
  }
  small {
    font-size: 0.8em;
  }
}
.pos-label {
  @include flex;
  margin-top: 12px;
  margin-bottom: 12px;
  border-bottom: thin solid $accent;
  padding-bottom: 5px;
  font-weight: bold;
  p {
    margin-right: 5px;
  }
  button {
    height: 25px;
    padding: 5px;
    padding-bottom: 20px;
    display: none;
  }
}
.positions {
  @include flex;
  margin-top: 12px;
  margin-bottom: 15px;
  border-bottom: thin solid rgba($primary, 0.2);
  padding-bottom: 10px;
  & div:nth-child(1) {
    margin-right: 13px;
  }
  & p {
    text-align: center;
    padding: 2px 5px;
  }
  & p:nth-child(2) {
    color: $accent;
    font-weight: normal;
  }
}
.weather-conditions {
  h3 {
    display: inline-block;
    border-bottom: thin solid rgba($primary, 0.2);
    padding: 0 8px 3px 9px;
    margin-bottom: 12px;
  }
  span {
    display: inline-block;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 5px;
    font-size: 1.2em;
  }
  .val {
    color: $accent;
    font-size: 1.1em;
    margin-top: 3px;
    letter-spacing: 1px;
  }
}
